<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Petsitters</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a href="/" class="navbar-brand"> Petsitters</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/vtypes">Asignaciones</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/vreviews">Reviews</a>
              </li>
          </div>
        </div>
      </nav>

      <div class="container">
        <div class="row mt-2">
            <div class= "col-md"> 
                <table class ="table mt-4">
                <thead>
                    <tr>
                      <th style="display: none;">ID</th>
                        <th>Nombre</th>
                        <th>Mascota</th>
                        <th></th>
                        
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach( (data) => { %>
                  <tr>
                      <td style="display: none;"><%= data.id%></td>
                      <td><%= data.name%></td>
                      <td>
                        <%= data.description%></td>
                      <td></td>
                      <td>
                          <a type="button" class="btnEditar btn btn-outline-primary bi bi-pencil"></a>
                          <a href="/tydelete/<%= data.id%>" class="btn btn-outline-danger bi bi-trash"></a>
                      </td>
                  </tr>
                  <%})%>
      
                </tbody>
              </table>
            </div>
            <div class="col-md-5">
              <div class="card">
               <div class="card-body">
                   <form action="/tyinsert" method= "post">
                    <label for="petsitterid">Nombre: </label>
                    <select class="custom-select mb-3" type="text" name="petsitterid" id="petsitterid" data-bs-toggle="dropdown" data-bs-auto-close="inside" aria-expanded="false">
                    <div class="dropdown-menu">
                      <% sitdata.forEach( (sitdata) => { %>
                        <option value="<%=sitdata.id%>"><%=sitdata.name%></option>  
                    <%})%>
                  </div>
                    </select> 
                    <label for="petstypeid">Mascota: </label>
                    <select class="custom-select mb-3" type="text" name="petstypeid" id="petstypeid" data-bs-toggle="dropdown" data-bs-auto-close="inside" aria-expanded="false">
                    <div class="dropdown-menu">
                      <% tydata.forEach( (tydata) => { %>
                        <option value="<%=tydata.id%>"><%=tydata.Description%></option>  
                    <%})%>
                  </div>
                    </select>
                         <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i> Asignar</button> 
                   </form>
              </div> 
           </div>
   </div>
   </div>
   </div>
  </body>
</html>